<div class="popup-modalx sliding">
<div class="row icon-rows open ease" style="text-align: center; overflow: hidden">
  {% for project in site.data.projects %}
  <div class="col-sm-1-3 col-md-1-6">
    <a class="ios-apps-icon" href="#project-{{ project.id }}">
      <img class="ios-apps-icon" alt="Apps icon" src="{{ project.icon }}"/>
      <span class="screen-reader">🔗 open</span>
    </a>
    <div style="
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
    ">{{ project.name }}</b></div>
  </div>
  {% endfor %}
  <div class="col-sm-1"></div>
</div>
{% for project in site.data.projects %}
<div class="modal-wrapper ease" id="project-{{ project.id }}">
  <a class="btn close" href="#project"><span class="screen-reader">× close</span></a>
  <div class="target-modal">
    <h3>{{ project.name }}</h3>
    {% if project.ios-store or project.and-store %}
    <p class="apps-marketing">
      {% if project.ios-store %}
      <a class="ios-btn" target="_blank" href="{{ project.ios-store }}"><img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg"></a>
      {% endif %}
      {% if project.and-store %}
      <a class="and-btn" target="_blank" href="{{ project.and-store }}"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a>
      {% endif %}
    </p>
    {% endif %}
    <div class="row clear">
      <div class="col-sm-1 col-md-1-2">
        <div class="gallery" data-img='{{ project.gallery | jsonify }}'>
          <div class="ratio ratio-9-16">
            <img alt="Gallery image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
          </div>
          <span class="prev ease no-print"></span>
          <span class="next ease no-print"></span>
        </div>
      </div>
      <div class="col-sm-1 col-md-1-2">{{ project.description }}</div>
    </div>
  </div>{{ target-modal }}
</div>
{% endfor %}
</div>
<script>
</script>
