<div class="popup-modalx sliding">
<div class="row icon-rows open ease" style="text-align: center; overflow: hidden">
  {% for project in site.data.projects %}
  <div class="col-sm-1-3 col-md-1-6 ios-apps-list ease">
    <a class="ios-apps-icon" href="#project-{{ project.id }}">
      <img class="ios-apps-icon lazyload" alt="Apps icon" data-src="{{ project.icon }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
      <span class="screen-reader">🔗 open</span>
    </a>
    <div style="
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
    ">{{ project.name }}</b></div>
  </div>
  {% endfor %}
  <div class="col-sm-1"></div>
</div>
{% for project in site.data.projects %}
<div class="modal-wrapper" id="project-{{ project.id }}">
  <span class="before"></span>
  <a class="btn close" href="#project"><span class="screen-reader">× close</span></a>
  <div class="target-modal">
    <h3>{{ project.name }}</h3>
    {% if project.ios-store or project.and-store %}
    <p class="apps-marketing">
      {% if project.ios-store %}
      <a class="ios-btn" target="_blank" href="{{ project.ios-store }}">
        <img class="lazyload" data-src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
      </a>
      {% endif %}
      {% if project.and-store %}
      <a class="and-btn" target="_blank" href="{{ project.and-store }}">
        <img class="lazyload" data-src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
      </a>
      {% endif %}
    </p>
    {% endif %}
    <div class="row clear">
      <div class="col-sm-1 col-md-1-2">
        <div class="gallery" data-img='{{ project.gallery | jsonify }}'>
          <div class="ratio ratio-9-16">
            <img alt="Gallery image" class="lazyload" data-src="{{ project.gallery[0] }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
          </div>
          <span class="prev ease no-print"></span>
          <span class="next ease no-print"></span>
        </div>
      </div>
      <div class="col-sm-1 col-md-1-2">{{ project.description }}</div>
    </div>
  </div>{{ target-modal }}
</div>
{% endfor %}
</div>
<script>
afterLib.push(function(){
  // apps icon clicked
  on(all('.sliding .modal-wrapper .close, .sliding a.ios-apps-icon'), 'click', function(e) {
    e.preventDefault();
    var dest = '#'+this.href.split('#')[1];
    if (hasClass(this,'close')) {
      // ONCLOSE
         addClass(all('.sliding .modal-wrapper'),'ease');
      removeClass(all('.sliding .modal-wrapper'),'open');
      removeClass(all('.sliding .ios-apps-list'),'active');
      removeClass(all('.sliding .ios-apps-list'),'blur');
    }else{
      // ONOPEN
      if (!hasClass(one(dest),'open')) {
        var selected = this.parentNode;
        removeClass(all('.sliding .modal-wrapper'),'ease');
        removeClass(all('.sliding .modal-wrapper'),'open');
        removeClass(all('.sliding .ios-apps-list'),'active');
           addClass(all('.sliding .ios-apps-list'),'blur');

           addClass(one(dest),'open');
           addClass(selected,'active');
        removeClass(selected,'blur');

        // skip lazyload on this particular img
        tmp = one(dest + ' .gallery .ratio img.lazyload');
        if (tmp && tmp.dataset.src) {
          tmp.src = tmp.dataset.src;
          delete tmp.dataset.src;
          removeClass(tmp, 'lazyload');
        }
        // skip lazyload on this particular img
      }
    }
    return false;
  });
  // apps icon clicked
  
  // gallery nav clicked
  on(all('.gallery .prev, .gallery .next'), 'click', function(e) {
    e.preventDefault();
    var idx = (hasClass(this, 'prev')) ? -1 : 1 ;
    var gallery = this.parentNode;
    var list = JSON.parse(gallery.dataset.img);
    var last = list.length-1;
    var img = one('img', gallery);
    idx += 1*gallery.dataset.idx || 0;
    idx = (idx < 0) ? last : (idx>last) ? 0 : idx;
    addClass(img, 'ease');
    on(img, 'load', function (data) { this.style.opacity='1'; });
    img.style.opacity='.3';
    setTimeout(function(){ img.src = list[idx]; },200);
    this.parentNode.dataset.idx = idx;
    return false;
  });
  // gallery nav clicked
});
</script>
