<div class="row">
  <div class="col-sm-1 col-md-1-2">
    <div class="map-address">
      <div class="ratio ratio-16-9 checkered">
        <div id="map"></div>
      </div>
      <address>
        Sannou 1-7<br>
        Oomori 2<br>
        Tokyo<br>
        〒 143-0023<br>
        Japan
      </address>
    </div>
    <address>
      Yoseph Wijaya Savianto<br>
      <a class="ease" href="mailto:info@yoseph.ws">mailto: info@yoseph.ws</a><br>
      <a class="ease" href="tel:+81 80 9588 1639">tel: +81 80 9588 1639</a><br>
      <a class="ease" href="tel:+62 857 5522 1155">tel: +62 857 5522 1155</a>
    </address>
  </div>
  <div class="col-sm-1 col-md-1-2">
    <form class="no-print">
      <p><label>
        <input type="text" name="name" placeholder="Name">
      </label></p>
      <p><label>
        <input type="email" name="email" placeholder="Email (required)" required="required">
      </label></p>
      <p><label>
        <input type="text" name="job" placeholder="Job">
      </label></p>
      <p><label>
        <textarea type="textarea" name="msg" placeholder="Message (required)" required="required" rows="4"></textarea>
      </label></p>
      <p><label>
        <button type="submit">Send</button>
      </label></p>
    </form>
  </div>
</div>
