<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <main class="page-content" aria-label="Content">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
    {% include service-google-analytics.html %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js" defer async></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?callback=polyfillsAreLoaded" defer async></script>
    <script src="{{ "/assets/js/lib.js" | absolute_url }}"></script><script>NProgress.start();</script>
    <script src="{{ "/assets/js/script.js" | absolute_url }}"></script>
  </body>
</html>
