---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <main class="page-content" aria-label="Content">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
    <div class="hide" defer-script-and-style>
      {{ page.defer }}
      <script async="" defer="" src="{{ "/assets/js/script.js" | absolute_url }}"></script>
      <script async="" defer="" src="https://gunawan.wijaya.cc/assets/js/lib.js"></script>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
    </div>
  </body>
</html>
