---
layout: default
---
<header class="site-header" role="banner">
  <div class="container">
    <nav data-gumshoe-header class="menu fixed no-print">
      <ul data-gumshoe class="inline-menu ease font-montserrat">
        <li><a data-scroll class="btn ease menu-item" href="#me">me.self</a></li>
        <li><a data-scroll class="btn ease menu-item" href="#project">project</a></li>
        <li><a data-scroll class="btn ease menu-item" href="#contact">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<section id="me">
  <div class="hero"><div class="ratio ease checkered"><div>
    <img alt="Cover image" class="cover lazyload" data-src="{{ "/assets/images/cover.jpg" | absolute_url }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
    <h1 class="title"><span class="ease font-monospace">ME.SELF</span></h1>
<script>
afterLib.push(function () {
  // hero typing animation
  function mouseTrigger_HeroAni(e) {
    var data = [
      'ME.SELF',
      'My.SElf',
      '_y.SEph',
      '_YOSEPH',
      '_iOS___',
      '__iOS__',
      '___iOS_',
      '____iOS',
    ];
    data = e.type=='mouseover' ? data.reverse() : data;
    function ani(el){
      if (stackOf_HeroAni && stackOf_HeroAni.length) {
        el.innerHTML = stackOf_HeroAni.pop();
        setTimeout(function(){ ani(el); },200);
      }
    }
    if (stackOf_HeroAni.length<1) {
      stackOf_HeroAni = data; ani(el);
    } else {
      stackOf_HeroAni = data.splice(0,stackOf_HeroAni.length);
    }
  }
  var stackOf_HeroAni = [], el = one('.hero .title span');
  el ? on(el, 'mouseover mouseout', mouseTrigger_HeroAni) : 0;
  // hero typing animation

  // parallax
  on(window, 'scroll resize', function (e){
    el ? el.style.top = Math.floor(getScroll().y/2)+'px' : 0;
  });
  // parallax
});
</script>
  </div></div></div>
  <div class="container">
    {% include content-about.html %}
  </div>
</section>
<section id="project">
  <div class="container">
    <h2>project</h2>
    {% include content-project.html %}
  </div>
</section>
<section id="contact">
  <div class="container">
    <h2>contact</h2>
    {% include content-contact.html %}
  </div>
</section>
