/* Basic styling
  =========================================================================== */
*{
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  position: relative;
}
*,*:active,*:focus{
  -webkit-tap-highlight-color: transparent;
           -moz-outline-width: 0;
                outline-width: 0;
                outline-style: none;
                      outline: 0;
}
body {
  font: 400 #{$base-font-size}/#{$base-line-height} $base-font-family;
  background-color: $dark-color;
  color: $light-color;
  overflow-y: scroll;
}
.font {
    &-serif {font-family: $serif-font-family; }
    &-mono {font-family: $monospace-family; }
    &-web {font-family: $web-font-family; }
    &-small {font-size: 87.5%; }
    &-large {font-size: 112.5%; }
    &-xsmall {font-size: 80%; }
    &-xlarge {font-size: 120%; }
}
.align {
    &-left { text-align: left; }
    &-right { text-align: right; }
    &-center { text-align: center; }
    &-justify { text-align: justify; }
}
main {
  background-color: $light-color;
  color: $dark-color;
  @extend %ease;
}

footer {
  font-weight: 600;
  background-color: $dark-color;
  color: $light-color;
  & a {
    color: $accent-light-color;
  }
}


/* Set `margin-top-bottom` to maintain vertical rhythm
  =========================================================================== */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin: $spacing-unit 0;
  .row > * & {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Images
  =========================================================================== */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* Figures
  =========================================================================== */
figure > img {
  display: block;
}
figcaption {
  @include relative-font-size(0.875);
}

/* Lists
  =========================================================================== */
ul, ol {
  margin-left: $spacing-unit;
}
li {
  > ul,
  > ol {
    margin: 0;
  }
}

/* Headings
  =========================================================================== */
h1, h2 { font-weight: 100; font-family: $web-font-family;}
h3, h4 { font-weight: 400; font-family: $web-font-family;}
h5, h6 { font-weight: 600; font-family: $web-font-family;}

/* Links
  =========================================================================== */
a {
  display:inline-block;
  color: $accent-color;
  text-decoration: none;
  @extend %ease;
}

/* Blockquotes
  =========================================================================== */
blockquote {
  padding: $spacing-unit/2;
  padding-right: $spacing-unit/4*3;
  border-left: $spacing-unit/4 solid $accent-color;
  font-style: italic;
  margin: $spacing-unit $spacing-unit/4*3*-1;
  @include relative-font-size(1.25);
  @include media-query($on-md) { margin: $spacing-unit; }
  p { font-weight: 100; &:last-child { margin-bottom: 0; } &:first-child { margin-top: 0; }
    & + p:last-child {
      font-weight: 700;
      margin-left: $spacing-unit*2;
      @include relative-font-size(.8125);
    }
  }
}

/* Code formatting
  =========================================================================== */
pre,
code {
  @include relative-font-size(0.875);
  font-family: $monospace-family;
  border: 1px solid $light-alt-color;
  background-color: #eef;
  border-radius: 3px;
}

code {
  padding: 1px;
  padding-right: ($base-font-size / 4);
  padding-left: ($base-font-size / 4);
}

pre {
  padding: ($spacing-unit*.5) ($spacing-unit*.75);
  overflow-x: auto;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/* Address
  =========================================================================== */
address {
  padding: $spacing-unit 0 0;
  & a {
    color: $light-color;
    padding: 2px $spacing-unit/2;
    margin: -2px $spacing-unit/-2;
    &:hover,
    &:focus,
    &:active {
      color: $dark-color;
      background: $accent-light-color;
    }
  }
}

/* Form
  =========================================================================== */
button,
input,
textarea {
  font-family: $base-font-family;
  border-radius: 0;
  font-weight: 600;
  display: block;
  padding: ($spacing-unit/4) ($spacing-unit/2);
  resize: none;
  width: 100%;
  border: 0;
  line-height: $base-line-height;
  @extend %ease;
  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 0 2px 2px $dark-color;
  }
}
button {
  cursor: pointer;
  background: $accent-light-color;
  color: $dark-color;
  &:hover,
  &:focus,
  &:active {
    background: $dark-color;
    color: $accent-light-color;
  }
}

/* Container
  =========================================================================== */
.container {
  max-width: $content-width;
  margin: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  @include media-query($on-lg) {

  }
}

/* a11y
  =========================================================================== */
.screen-reader{
  background: $light-color;
  color: $dark-color;
  position: absolute;
  right: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* Clearfix
  =========================================================================== */
%clearfix:before,
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Easing
  =========================================================================== */
.ease,
%ease {
  -webkit-transition: ease-in-out .3s;
          transition: ease-in-out .3s;
}
.ease-slow,
%ease-slow {
  -webkit-transition: ease-in-out .7s;
          transition: ease-in-out .7s;
}

/* Checkered
  =========================================================================== */
.checkered,
%checkered {
  background-color: #fff;
  background-position: 0 0,10px 10px;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  border: 0;
  background-image: -webkit-linear-gradient(45deg,#eee 25%,transparent 25%,transparent 75%,#eee 75%,#eee),
                    -webkit-linear-gradient(45deg,#eee 25%,transparent 25%,transparent 75%,#eee 75%,#eee);
}
